.coord {
  margin: 5px;
  display: inline-flex;
  flex-flow: row nowrap;
}

.coord > span {
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

.axis {
  width: 2rem;
  font-style: bold;
  color: white;
  background-color: grey;
}

.coordvalue {
  padding: 2px;
  width: 8rem;
}
